@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip-top-arrow::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: 3px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip-bottom-arrow::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: 3px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}